/* Main stylesheet */

#WOW_everything {
  position: relative;
  height: 100vh;
  width: 100vw;
}

#WOW_topbar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 40px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

input[type="file"] {
  display:none;
}

.WOW_button {
  border: 2px solid #888;
  font-size: 15px;
  font-family: sans-serif;
  cursor: pointer;  
  background-color: #ccc;
  width: 100px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.WOW_button:hover {
  border: 2px solid #333;
}

#WOW_sidebar {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 95%;
  width: 200px;
  overflow-x: scroll;
  background-color: #DDD;
  padding-top:20px;
  z-index: 4;
}

#WOW_sidebar_closer {
  position: absolute;
  right: 4px;
  top: 2px;
  cursor: pointer;
}

#WOW_sidebar_closer:hover {
  opacity: 0.5;
}

.column_div {
  position: relative;
  top: 0px;
  left: 15px;
}

.column_top_stuff {
  display:flex;
  align-items: center;
}

.columns_label {
  position: absolute;
  left: 15px;
  top: 0px;
  font-size: 14px;
  font-family: sans-serif;
  display:flex;
  align-items: center;
}

.inner_column_div {
  position: absolute;
  left: 5px;
  top: 18px;
  overflow-y: hidden;
}

.outer_single_column_label {
  height: 24px;
  cursor: pointer;
}

.inner_single_column_label {
  height: 22px;
  margin-top: 1px;
  margin-bottom: 1px;
  padding-left: 6px;
  display: flex;
  align-items: center;
}

.inner_single_column_label:hover {
  background-color: #ccc;
}

.label_highlighted {
  outline: 2px solid blue;
  outline-offset: -2px;
}

.column_label_Number {
  color:red;
}
/*From https://www.w3schools.com/howto/howto_css_arrows.asp */
.arrow {
  position: absolute;
  left: 0px;
  top: 2px;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.arrow:hover {
  opacity:0.5;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#WOW_svg_holder {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.WOW_svg {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
}

.drag_svg {
  background-color:#ccc;
  opacity: 0.5;
  z-index: 3;
}

.bounding_rect {
  stroke: blue;
  fill: none;
}

.bounding_rect_graph {
  stroke: #aaa;
  fill: none;
}

.bounding_rect_series {
  stroke: #aaa;
  fill: none;
}

.plot_option {
  cursor: pointer;
}

.plot_option:hover {
  opacity: 0.5;
}

.rect_draw_button:hover {
  opacity: 0.5;
}

.WOW_data_group {
  opacity: 0.5;
}

.WOW_data_group:hover {
  opacity: 1;
}

.clicked_data {
  opacity: 1;
}

.clicked_data .circle_point {
  stroke: red;
  stroke-width: 4px;
}

.clicked_data .path_mark {
  stroke: red;
  stroke-width: 8px;
}

.WOW_data_group:hover .circle_point {
  stroke: black;
  stroke-width: 2px;
}


.WOW_data_group:hover .path_mark {
  stroke: black;
  stroke-width: 5px;
}

.image_content {
  display: none;
}

.WOW_data_group:hover .image_content {
  display: block
}

.text_content {
  display: none;
  text-anchor: center;
}

.WOW_data_group:hover .text_content {
  display: block
}

.foreign_obj {
  position: relative;
}

.text_input_filter {
  width:40%;
  position: absolute;
  left: 55%;
  top: 0px;
  background-color: white;
}

.text_input_description {
  position: absolute;
  left:0px;
  top:0px;
  width:50%;
  margin-top:2px;
}

.image_content {
  display: none;
}

.WOW_data_group:hover .image_content {
  display: block
}

.clicked_data .image_content {
  display: block;
}